.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 50vh;
  flex-wrap: wrap;
}

.hubButton {
  padding: 3vh;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 5vh;
  font-family: "N-Light";
  font-size: 3vh;
  background-color: #dfdfdf;
  border: none;
}
.hubButton:hover {
  transform: scale(1.05);
}

.yellowHover:hover {
  background-color: #ffd955;
}

.orangeHover:hover {
  background-color: #ff8534;
}

.greenHover:hover {
  background-color: #4b6e49;
}

.coralHover:hover {
  background-color: #feabab;
}

.redHover:hover {
  background-color: #ff3f3f;
}

.blueHover:hover {
  background-color: #275aff;
}
