.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  background-color: #dfdfdf;

  padding: 0;
  margin: 0;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.textSection {
  display: flex;
  flex-direction: column;
  line-height: 120%;
  padding: 20px;
  border-radius: 2em;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: "N-light";
  background-color: #f8f5f3;
  max-width: 80vw;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.flockLogo {
  font-family: "N-ExtraBold";
  font-size: 2.5vw;
  padding-right: 10px;
  padding-top: 10px;
}

.logoContainer {
  display: flex;
  width: 100vw;
  height: 25vh;
  justify-content: flex-end;
  align-items: flex-start;
}

.footerContainer {
  display: flex;
  width: 100vw;
  height: 35vh;
  justify-content: flex-start;
  align-items: flex-end;
}

.footerText {
  font-family: "N-ExtraBold";
  font-size: 75px;
  padding-left: 10px;
  color: #f8f5f3;
}
