.hCardContainer {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the buttons */
  gap: 1.5vw; /* Adjusts spacing between buttons */
  height: auto; /* Allows it to expand with content */
  max-height: 30vw; /* Keeps it from growing too much */
}

.homeButtonArt {
  width: 15vw;
  height: 16vh;
  border-radius: 4.2vh;
  border-style: none;
  background-color: #dfdfdf;
  display: flex;
  align-items: flex-end;
  font-family: "N-ExtraBold";
  font-size: 3vh;
  text-align: left;
  padding-left: 1.5vw;
  padding-bottom: 1.6vh;
  transition: transform 0.3s ease; /* Smooth transition */
}

.homeButtonArt:hover {
  background-color: #ffd955; /* Color on hover */
  transform: scale(1.05); /* Slightly grows the button */
}

.homeButtonPhotos {
  width: 15vw;
  height: 16vh;
  border-radius: 4.2vh;
  border-style: none;
  background-color: #dfdfdf;
  display: flex;
  align-items: flex-end;
  font-family: "N-ExtraBold";
  font-size: 3vh;
  text-align: left;
  padding-left: 1.5vw;
  padding-bottom: 1.6vh;
  transition: transform 0.3s ease; /* Smooth transition */
}

.homeButtonPhotos:hover {
  background-color: #feabab; /* Color on hover */
  transform: scale(1.05); /* Slightly grows the button */
}

.homeButtonStamps {
  width: 15vw;
  height: 16vh;
  border-radius: 4.2vh;
  border-style: none;
  background-color: #dfdfdf;
  display: flex;
  align-items: flex-end;
  font-family: "N-ExtraBold";
  font-size: 3vh;
  text-align: left;
  padding-left: 1.5vw;
  padding-bottom: 1.6vh;
  transition: transform 0.3s ease; /* Smooth transition */
}

.homeButtonStamps:hover {
  background-color: #275aff; /* Color on hover */
  transform: scale(1.05); /* Slightly grows the button */
}

.homeButtonTechno {
  width: 15vw;
  height: 16vh;
  border-radius: 4.2vh;
  border-style: none;
  background-color: #dfdfdf;
  display: flex;
  align-items: flex-end;
  font-family: "N-ExtraBold";
  font-size: 3vh;
  text-align: left;
  padding-left: 1.5vw;
  padding-bottom: 1.6vh;
  transition: transform 0.3s ease; /* Smooth transition */
}

.homeButtonTechno:hover {
  background-color: #ff3f3f; /* Color on hover */
  transform: scale(1.05); /* Slightly grows the button */
}

.homeButtonBookClub {
  width: 15vw;
  height: 16vh;
  border-radius: 4.2vh;
  border-style: none;
  background-color: #dfdfdf;
  display: flex;
  align-items: flex-end;
  font-family: "N-ExtraBold";
  font-size: 3vh;
  text-align: left;
  padding-left: 1.5vw;
  padding-bottom: 1.6vh;
  transition: transform 0.3s ease; /* Smooth transition */
}

.homeButtonBookClub:hover {
  background-color: #4b6e49; /* Color on hover */
  transform: scale(1.05); /* Slightly grows the button */
}

.homeButtonMartialArts {
  width: 15vw;
  height: 16vh;
  border-radius: 4.2vh;
  border-style: none;
  background-color: #dfdfdf;
  display: flex;
  align-items: flex-end;
  font-family: "N-ExtraBold";
  font-size: 3vh;
  text-align: left;
  padding-left: 1.5vw;
  padding-bottom: 1.6vh;
  transition: transform 0.3s ease;
}

.homeButtonMartialArts:hover {
  background-color: #ff8534; /* Color on hover */
  transform: scale(1.05); /* Slightly grows the button */
}
