.menuContainer {
  width: 20vw;
  height: 100vh;
  background: white;
  border-right: solid 0.1em black;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  font-family: "N-light";
}

.menuButton {
  background-color: white;
  background: none;
  border: none;
  font-size: 24px;
  margin: 4px;
  cursor: pointer;
  padding-top: 0;
  padding: 0px 6px 3px 6px;
  border: none;
  border-radius: 10px;
}
