.editingContainer {
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  border-radius: 60px;
  align-items: center;
  justify-content: flex-start;
  width: 15vw;
  height: 48vh;
  margin: 2vh 3vh 0px 3vh;
}

.editingButton {
  background-color: white;
  padding: 3vh;
  border-radius: 5vh;
  border: none;
  font-family: "N-light";
  width: 10vw;
  font-size: 2.2vh;
  margin-top: 6vh;
  margin-bottom: 0;
}

.editingButtonBanner {
  background-color: white;
  padding: 3vh;
  border-radius: 5vh;
  border: none;
  font-family: "N-light";
  width: 10vw;
  font-size: 2.2vh;
  margin-top: 10vh;
  margin-bottom: 0;
}

.editingButton:hover {
  transform: scale(1.1); /* Button grows by 10% on hover */
}

.colorButton {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 0.4vh;
}

.colorButton:hover {
  transform: scale(1.1); /* Button grows by 10% on hover */
}

.colourButtonDiv {
  width: 9vw;
  height: 9vw;
  background-color: white;
  box-sizing: border-box;
  padding-left: 0.9vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  margin: 0.6vw;
  border-radius: 1.5vw;
  align-items: center;
  position: absolute;
  bottom: 5vh;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.buttonCenterPanel {
  width: 9vw;
}
