.profileContainer {
  display: flex;
  height: 100vh;
  background-color: #f8f5f3;
  position: relative; /* Ensures the banner is positioned inside this container */
}

.banner {
  background-color: #275aff;
  width: 100vw;
  height: 35vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Send it to the back */
}

.imageEditingContainer {
  width: 40vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  .imageContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .profileImage {
    width: 110%;
    height: 110%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.bioHubsContainer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 1;
}

/* .intro {
  border: 1px solid #ddd;
  padding: 50px;
  padding-right: 600px;
  border-radius: 30px;
  background-color: white;
  font-family: "N-Light";
} */
/* .banner {
  display: flex;
  flex-direction: row;
  background-color: #275aff;
  background: linear-gradient(to bottom, #275aff 60%, #dfdfdf 40%);
  padding: 100px;
  gap: 50px;
}
.favHubs {
  display: flex;
  border: 1px solid #ddd;
  padding: 50px;
  padding-right: 500px;
  border-radius: 30px;
  font-family: "N-Bold";
  background-color: white;
  /* margin-top: 30px; */
/* 

.button {
  font-family: "N-Bold";
}

.buttonContainer {
  display: flex;
  border: 1px solid #ddd;
  padding: 80px 100px 80px 100px;
  background-color: white;
  border-radius: 20%;
}

.section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 2%;
  justify-items: center;
}  */
