.profileContainer {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100vh;
  background-color: #f8f5f3;
  margin-bottom: 0;
}

.banner {
  grid-column: 1 / 3;
  height: 35vh;
  top: 0;
  left: 0;
}

.imageEditingContainer {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: flex-end;
  justify-content: center;
  padding-right: 2vh;
  transform: translateY(-30vh);
}

.bioHubsContainer {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(-30vh);
}

.imageContainer {
  width: 25vh;
  height: 25vh;
  margin-right: 4vh;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0.2vw 0.2vh 0.8vw rgba(0, 0, 0, 0.1);
}

.profileImage {
  width: 115%;
  height: 115%;
  padding-left: 8px;
  object-fit: cover;
  border-radius: 50%;
}

.favHubsContainer {
  background-color: white;
  width: 50vw;
  padding: 4vh;
  border-radius: 40px;
  height: 42vh;
  overflow: hidden;
  font-family: "N-light";
  font-size: 3vh;
  letter-spacing: 0.02rem;
  line-height: 110%;
  box-shadow: 0.2vw 0.2vh 0.8vw rgba(0, 0, 0, 0.1);
}

.favHubsContainer:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.joinedHubs {
  font-size: 2.5vh;
  margin-left: 3vh;
  margin-bottom: 3vh;
}
